@page
@model IndexModel
@using BleakwindBuffet.Data;
@{
    ViewData["Title"] = "Home page";
}

<form>
    <div class="flex-filter">
        <div>
            <input type="text" name="SearchTerms" />
            <input type="submit" value="Search">
        </div>
        <div>
            <h4>Order Items</h4>
            @foreach (String item in Model.OrderCatagories)
            {
                <label>
                    <input type="checkbox" name="OrderCat" value="@item" />
                    @item
                </label>
            }
        </div>

        <div>
            <h4>Calories</h4>
            Between
            <input name="CalMin" type="number" min="0" max="2000" step="100" placeholder="min" />
            and
            <input name="CalMax" type="number" min="0" max="2000" step="100" placeholder="max" />
        </div>

        <div>
            <h4>Price</h4>
            Between
            <input name="PriceMin" type="number" min="0" max="20" step="1" placeholder="min" />
            and
            <input name="PriceMax" type="number" min="0" max="20" step="1" placeholder="max" />
        </div>
    </div>
</form>

<div class="text-center">
    <h1 class="display-4">Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
        Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a
        Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure
        and earned your loot, so spend it with us!
    </p>

    <h3>Combine any Entree, Side, and Drink for a dollar off total cost.</h3>

    <div class="flex-menu">
        <div>
            <h2>Entrees</h2>
            @foreach (IOrderItem item in Model.menuItems)
            {
                if (item is BleakwindBuffet.Data.Entrees.Entree)
                {
                    <div class="menuItem">
                        <dive>
                            <h5>@item</h5>
                        </dive>
                        <div class="grid-item-information">
                            <div class="description">
                                @item.Description
                            </div>
                            <div class="price">
                                $@item.Price
                            </div>
                            <div class="calories">
                                @item.Calories
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div>
        <h2>Sides</h2>
        @foreach (IOrderItem item in Model.menuItems)
        {
            if (item is BleakwindBuffet.Data.Sides.Side)
            {
                <div class="menuItem">
                    <dive>
                        <h5>@item</h5>
                    </dive>
                    <div class="grid-item-information">
                        <div class="description">
                            @item.Description
                        </div>
                        <div class="price">
                            $@item.Price
                        </div>
                        <div class="calories">
                            @item.Calories
                        </div>
                    </div>
                </div>
            }
        }
        </div>

        <div>
            <h2>Drinks</h2>
            @foreach (IOrderItem item in Model.menuItems)
            {
                if (item is BleakwindBuffet.Data.Drinks.Drink)
                {
                    <div class="menuItem">
                        <dive>
                            <h5>@item</h5>
                        </dive>
                        <div class="grid-item-information">
                            <div class="description">
                                @item.Description
                            </div>
                            <div class="price">
                                $@item.Price
                            </div>
                            <div class="calories">
                                @item.Calories
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</div>
